{% extends 'base.html' %}
{% block content %}

<div class="container my-5">
    <h2 class="text-center mb-4">Contact Me</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Your beautiful name :)" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="user@example.com" required>
        </div>
        <div class="mb-3">
            <label for="subject" class="form-label">Subject:</label>
            <select class="form-select" id="subject" name="subject" required>
                <option value="" disabled selected>Select a subject</option>
                {% for value, display in subjects %}
                    <option value="{{ value }}">{{ display }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Message:</label>
            <textarea class="form-control" id="message" name="message" rows="6" placeholder="In a dark place we find ourselves, and a little more knowledge lights our way..." required></textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Send Message</button>
    </form>
</div>

{% endblock content %}